<form role="form">
    <div class="input-group">
        <input type="search" class="form-control " placeholder="Search places" ng-change="locationRows()" ng-model="subStr">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default ">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>


    <!--<div class="input-group">
        <input type="search" class="form-control " placeholder="Search dish" ng-change="dishesRows()" ng-model="subStr">
        <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
        </div>
    </div>-->

    <div class="panel panel-default">
        <button type="button" class="btn btn-primary btn-lg btn-block " ng-click="addLocation()">
            Add new location <span class="fa fa-plus-square"></span>
        </button>
        <div class="list-group">
            <a ng-repeat="loc in locals" ng-click="selectLocal(loc)" class="list-group-item" href="" data-id={{loc.ID}}>{{loc.Name}}</a>
        </div>
    </div>
</form>